{% extends 'base.html' %}

{% block title %}
Posts
{% endblock %}

{% block content %}
<!--Start blog-->

<section id="blog" class="section">
    <div class="container">
        <div class="row">

            <!--Start heading-->
            <div class="col-md-offset-2 col-md-8 wow zoomIn" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="section-header">
                    <h2 class="smt">
                            <span>
                                <img src="{{ url_for('static', filename='images/left.png') }}">
                                {{category.title}}
                                <img src="{{ url_for('static', filename='images/right.png') }}">
                            </span>
                    </h2>
                </div>
            </div>
            <!--End heading-->

            <!--Start search form-->
            <div class="container">
                <div class="navbar-form navbar-right">

                    <div class="search-box facts-detail">
                        <a href="{{ url_for('create_post')}}"> + New post </a>
                    </div>

                    <div class="search-box">
                        <form method="GET" role="form">
                            <input type="search" class="form-control" placeholder="Search text" autocomplete="off" name="q" value="{{ request.args.get('q', '') }}">
                            <button type="submit" class="btn btn-default form-control">Search <i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <!--/Start search form-->

            <!-- Start Blog items-->
            {% for post in pages.items %}

                <div class="col-md-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="300ms">
                    <div class="blog-post">
                        <!-- Post Image-->
                        <div class="post-media">
                            {% for image in post.images %}
                                {% if image.is_main %}
                                    <img src="{{ url_for('static', filename='images/posts_images/' + image.image_path) }}" alt="{{image.name}}"></a>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <!-- /Post Image-->

                        <div class="post-desc">
                            <h4> {{ post.short_title |truncate(24) }} </h4>

                            <ul class="entry-meta">
                                <li>{{ post.created.strftime('%d-%m-%Y') }}</li>
                                {% if post.comments.count() == 1 %}
                                    <li>
                                        <a href="{{ url_for('post_detail', category_slug=category.category_slug, post_slug=post.post_slug)}}#go-comments-one ">
                                            {{ post.comments.count() }} Comment</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ url_for('post_detail', category_slug=category.category_slug, post_slug=post.post_slug)}}#go-comments-many ">
                                            {{ post.comments.count() }} Comments
                                        </a>
                                    </li>
                                {% endif%}
                            </ul>

                            <p>{{ post.body |truncate(130) }}</p>

                            <a href="{{ url_for('post_detail', category_slug=category.category_slug, post_slug=post.post_slug) }}" class="btn btn-primary btn-rounded">Read More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div><!--/.row-->

        <!--pagination-->
        <nav>
            <ul class="pagination">
                <li
                        {% if not pages.has_prev %} class="disabled" {% endif %}>
                    <a href="?page={{ pages.prev_num }}" aria-label="Previous"><span aria-hidden="true">&lt;</span></a>
                </li>

                {% for page in pages.iter_pages() %}

                <li
                        {% if page == pages.page %} class="active" {% endif %}>
                    <a href="?page={{ page }}"> {{ page }} <span class="sr-only">(current)</span></a>
                </li>

                {% endfor %}

                <li
                        {% if not pages.has_next %} class="disabled" {% endif %}>
                    <a href="?page={{ pages.next_num }}" aria-label="Next"><span aria-hidden="true">&gt;</span></a>
                </li>
            </ul>
        </nav>
        <!--/.pagination-->

    </div> <!--/.container-->
</section>
<!--End blog-->

{% endblock %}